<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Shortest Path - Variables</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	 <link rel="stylesheet" type="text/css" media="all"
      href="../../css/thvsjsp.css" th:href="@{/css/thvsjsp.css}"/>
</head>
<body>
<div class="container">

    <h2>Planet Distance Calculator</h2>
    <div>
        <form class="form-horizontal" th:object="${dijkstraForm}"   th:action="@{/dijkstra}" method="post">
			<p>Start</p><br/>
            <input type="text" id="Start" th:field="*{start}"/><br/>
            	<p>End</p><br/>
            <input type="text" id="End" th:field="*{end}"/><br/>

            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
            
            <div th:switch="${dijkstraForm.distance}"> 
 				 <p th:case="0">User is an administrator</p>
 				 <p th:case="ters">User is a manager</p>
 				 <p th:case="*">User is some other thing</p> 
			</div>
			<!-- IF CUSTOMER IS ANONYMOUS -->
			<div th:if="${dijkstraForm.distance}">
				   <div th:text="'The distance between '+ ${dijkstraForm.start} +' and ' +${dijkstraForm.end}+' = '+${dijkstraForm.distance} "> </div>
			</div>
			<!-- ELSE -->
			<div th:unless="${dijkstraForm.distance}">
			  
			</div>
         	<div th:if="${excelLoaded}"><p><a href="/index">Manage Planets</a></p>
       		 <p><a href="/index2">Manage Routes</a></p>     
            
 </div>
         	</form>
    </div>
</div>

</body>
</html>